- name: Build with PyInstaller
        run: |
          pyinstaller \
            --windowed \
            --name "谢谢网络加速器" \
            --icon "favicon.icns" \
            --add-data "favicon.icns:." \
            --add-data "internet.sh:." \
            --add-data "close.sh:." \
            --add-data "xray:." \
            --add-data "geosite.dat:." \
            --add-data "geoip.dat:." \
            --add-data "languages.json:." \  <-- 确保这一行存在
            main_macos.py
